<div class="card">
    <div class="card-body">
        <form action="/admin/novoadm" method="post">
            <label for="email">Email do usuario: </label>
            <input type="email" name="email" class="form-control mt-2 border border-dark" placeholder="Digite email do usuario...">
            <br>
            <br>
            <button class="btn btn-success mt-4">Tornar Administrador</button>
        </form>
    </div>
</div>