<div class="card">
    <div class="card-body">
        <form action="/admin/removeadm" method="post">
            <label for="email">Email do usuario: </label>
            <input type="email" name="email" class="form-control mt-2 border border-dark" placeholder="Digite email do usuario...">
            <br>
            <br>
            <button class="btn btn-danger mt-4 ms-4">Remover Administrador</button>
        </form>
    </div>
</div>