<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Blog</title>
</head>
<body>
    
    {{>__navbar}}
    
    <div class="container mt-4">
        {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
        {{else}}

        {{/if}}
    {{>_msg}}
    {{{body}}}
    </div>
    {{>__footer}}
</body>
<script src="/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</html>